@import url('https://fonts.googleapis.com/css?family=Lato:100i');

body {
	background-color: silver;
	max-width: 100%;
}

h1 {
	border:3px inset #00c0ff;
	width:600px;
	margin: 20px auto;
	text-align: center;
	padding: 30px;
	font-family: 'Lato', sans-serif;
}

h3 {
			color: #00c0ff;
			font-style: italic;
}

#sketch {
	border:none;
	width: 100vw;
	height: 50vh;
}